{% extends "header.html" %}

{% block title %}
<title>POTA - Index</title>
{% endblock %}

{% block body %}


<div id="intro-example" class="p-5 text-center">
		<div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
			<div class="d-flex justify-content-center align-items-center h-100">
				<div class="text-white">
					<h1 class="mb-3">Bem-vindo! Escolha uma das opções a seguir</h1>
					<h5 class="mb-4">Atenção! Verifique se você tem permissão de acessar a opção escolhida</h5>
					<a
					class="btn btn-outline-light btn-lg m-2"
					href="{%url 'listar_notas' perfil_logado.id %}"
					role="button"
					rel="nofollow"
					target="_blank"
					>Visualizar Notas</a>

					{% if professor %}

					<a class="btn btn-outline-light btn-lg m-2"
			        href="{%url 'notasRegister' %}"
					target="_blank"
					role="button"
					>Lançar Notas</a>

					{% else %}

					<a class="btn btn-outline-light btn-lg m-2"
			        href="{%url 'notasRegister' %}"
					target="_blank"
					role="button" 
					disabled tabindex="-1"
					>Lançar Notas</a>
					
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}